body {
    background-image: url(img/denim.png);
    color: #e3dac9;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 960px;
    margin: 20px;
    font-size: 70px;
    text-align: center;
}

.square {
    width: 470px;
    margin-left: 20px;
    float: left;
}

#signUpTile {
    width: 225px;
    height: 114px;
    margin-left: none;
    float: left;
    background-color: #666666;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#signUpTile:hover {
    background-color: #777777;
    cursor: pointer;
}

#logInTile {
    width: 225px;
    height: 114px;
    margin-left: 20px;
    float: left;
    background-color: #555555;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#logInTile:hover {
    background-color: #777777;
    cursor: pointer;
}

#quoteTile {
    width: 410px;
    height: 79px;
    margin-top: 20px;
    background-color: #007593;
    text-align: justify;
    padding: 30px;
}

#aboutPersonalBudgetTile {
    width: 400px;
    height: 228px;
    background-color: gray;
    text-align: justify;
    padding: 35px;
}

#signUpDetails {
    width: 430px;
    height: 258px;
    font-size: 25px;
    background-color: gray;
    text-align: center;
    padding: 20px;
}

#logInDetails {
    width: 410px;
    height: 238px;
    font-size: 25px;
    background-color: gray;
    text-align: center;
    padding: 30px;
}

#footer {
    width: 960px;
    margin: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e3dac9;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 350px;
    background-color: #666666;
    color: #e3dac9;
    border: 2px solid #888888;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 5px;

}

input[type=submit] {
    width: 300px;
    background-color: #666666;
    font-size: 20px;
    color: #e3dac9;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:hover {
    background-color: #555555;
}

input[type=submit]:focus {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
    -moz-box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
    box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1aaa6;
    font-size: 18px;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1aaa6;
    font-size: 18px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1aaa6;
    font-size: 18px;
}

#logInDetails>form>input[type=email],
#logInDetails>form>input[type=password] {
    margin-top: 15px;
}

#logInDetails>form>input[type=submit] {
    margin-top: 20px;
}

#welcomeTile {
    width: 225px;
    height: 114px;
    margin-left: none;
    float: left;
    background-color: #666666;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#showBalanceTile {
    width: 225px;
    height: 114px;
    margin-left: 20px;
    float: left;
    background-color: gray;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#showBalanceTile:hover {
    background-color: #999999;
    cursor: pointer;
}

#addIncomeTile {
    width: 225px;
    height: 114px;
    margin-left: none;
    float: left;
    background-color: gray;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#addIncomeTile:hover {
    background-color: #999999;
    cursor: pointer;
}

#addExpenseTile {
    width: 225px;
    height: 114px;
    margin-left: 20px;
    float: left;
    background-color: gray;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#addExpenseTile:hover {
    background-color: #999999;
    cursor: pointer;
}

#settingsTile {
    width: 225px;
    height: 114px;
    margin-top: 20px;
    float: left;
    background-color: grey;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#settingsTile:hover {
    background-color: #999999;
    cursor: pointer;
}

#logOutTile {
    width: 225px;
    height: 114px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    background-color: grey;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

#logOutTile:hover {
    background-color: #999999;
    cursor: pointer;
}

#instructionsTile {
    width: 390px;
    height: 79px;
    background-color: #666666;
    font-size: 30px;
    text-align: justify;
    padding: 30px 40px;
}

#expenseDetails {
    width: 470px;
    height: 298px;
    background-color: gray;
}

.row1 {
    width: 220px;
    /* background-color: white; */
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.row2 {
    width: 220px;
    /* background-color: white; */
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.row3 {
    width: 450px;
    /* background-color: white; */
    margin-top: 10px;
    margin-left: 10px;
}

.row4 {
    width: 205px;
    /* background-color: white; */
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

/* ---------------------------------------- */

.row1>input[type=number],
.row1>input[type=date],
.row2>select[id="paymentMethod"],
.row2>select[id="category"] {
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: #e3dac9;
    border: 2px solid #888888;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.row3>input[type=text] {
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: #e3dac9;
    border: 2px solid #888888;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
}

.row4>input[type=submit],
.row4>input[type=reset] {
    width: 100%;
    height: 60px;
    background-color: #666666;
    font-size: 20px;
    color: #e3dac9;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin: 0px;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #555555;
}

input[type=submit]:focus {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
    -moz-box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
    box-shadow: 0px 0px 34px 4px rgba(177, 170, 166, 1);
}

input[type="date"]:not(:valid)::-webkit-datetime-edit {
    color: #b1aaa6;
    font-size: 18px;
}

select:required:invalid {
    color: #b1aaa6;
    font-size: 18px;
}

option[value=""][disabled] {
    display: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1aaa6;
    font-size: 18px;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b1aaa6;
    font-size: 18px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b1aaa6;
    font-size: 18px;
}